[global]
cat_order = arXiv, APS, Nature, Science

### arXiV

[arXiv:cond-mat]
url = http://export.arxiv.org/rss/cond-mat
display_name = cond-mat
category = arXiv
save_all = False
check_date = False

[arXiv:quant-ph]
url = http://export.arxiv.org/rss/quant-ph
display_name = quant-ph
category = arXiv
save_all = False
check_date = False

[arXiv:physics]
url = http://export.arxiv.org/rss/physics
display_name = physics
category = arXiv
save_all = False
check_date = False

[arXiv:cond-mat.quant-gas]
url = http://export.arxiv.org/rss/cond-mat.quant-gas
display_name = cond-mat.quant-gas
category = arXiv
save_all = True
check_date = False

[arXiv:physics.atom-ph]
url = http://export.arxiv.org/rss/physics.atom-ph
display_name = physics.atom-ph
category = arXiv
save_all = True
check_date = False

[arXiv:physics.optics]
url = http://export.arxiv.org/rss/physics.optics
display_name = physics.optics
category = arXiv
save_all = True
check_date = False

### APS

[All Editor's suggestions]
url = http://feeds.aps.org/rss/allsuggestions.xml
display_name = All Editor's suggestions
category = APS
save_all = False
check_date = True

[Ultra-cold Gases]
url = http://feeds.aps.org/rss/topics/ultracoldgases.xml
display_name = Ultra-cold Gases
category = APS
save_all = False
check_date = True

[RMP]
url = http://feeds.aps.org/rss/recent/rmp.xml
display_name = RMP
category = APS
save_all = False
check_date = True

[PRA]
url = http://feeds.aps.org/rss/recent/pra.xml
display_name = PRA
category = APS
save_all = False
check_date = True

[PRL]
url = http://feeds.aps.org/rss/recent/prl.xml
display_name = PRL
category = APS
save_all = False
check_date = True

[PRX]
url = http://feeds.aps.org/rss/recent/prx.xml
display_name = PRX
category = APS
save_all = False
check_date = True

### Nature

[Nature]
url = http://feeds.nature.com/nature/rss/current
display_name = Nature
category = Nature
save_all = False
check_date = True

[Nature Photonics]
url = http://feeds.nature.com/nphoton/rss/current
display_name = Nature Photonics
category = Nature
save_all = False
check_date = True

[Nature Physics]
url = http://feeds.nature.com/nphys/rss/current
display_name = Nature Physics
category = Nature
save_all = False
check_date = True

[Nature Scientific Reports]
url = http://feeds.nature.com/srep/rss/current
display_name = Nature Scientific Reports
category = Nature
save_all = False
check_date = True

[Nature Communications]
url = http://feeds.nature.com/ncomms/rss/current
display_name = Nature Communications
category = Nature
save_all = False
check_date = True



### Science

[Science]
url = http://science.sciencemag.org/rss/current.xml
display_name = Science
category = Science
save_all = False
check_date = True

[Science Editor's choice]
url = http://science.sciencemag.org/rss/ec.xml
display_name = Science Editor's choice
category = Science
save_all = False
check_date = True

