[Topology & Gauge Fields]
display_name = Topo_Gauge
keywords = topolog, gauge field, Harper, Hofstadter, Quantum Hall, 
          artificial magnetic field, Chern number
fields = title

[Ytterbium & Clock]
display_name = Yb_Clock
keywords = ytterbium,clock transition,clock laser,clock lattice
fields = title

[Nano-fibers]
display_name = NF
keywords = nanofiber,nano-fiber,nano fiber,ultrathin optical fiber,tapered fiber
fields = title

[Cold atoms & lattices]
display_name = CA
keywords = optical lattice,ultracold atom,cold atom,Hubbard,Mott,BEC,
           Bose-Einstein Condensate,Bose Einstein Condensate, Bose Gas
fields = title

[Quasicristals]
display_name = QC
keywords = Fibonacci,quasiperiodic,quasi periodic,quasicrystal,quasicristal
fields = title


[Authors]
display_name = AUT
keywords = I. Bloch, Immanuel Bloch, Ketterle, Greiner, Dalibard, Hadzibabic, Ferlaino, 
           Zwierlein, Spielman, Laurat, Kimble, Oberthaler, Esslinger, Sengstock, Browaeys,
	   Tarruell, Kimble
fields = author,summary 
# for science, full author list in summary
